<h3>コメント編集</h3>

<%= form_with(model: [:admin, @comment], local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h3><%= @comment.errors.count %>件のエラーがあります。</h3>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= @comment.user.name %>さんの<%= @comment.user.name %>に対するコメント</p>
  <%= form.hidden_field :game_id %>
  <%= form.hidden_field :user_id %>


  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to "ゲーム詳細", admin_game_path(@comment.game_id), class: "btn btn-primary mr-3" %>