<h2>レビュー一覧</h2>

<table class="table">
  <tr>
    <th>要約</th>
    <th>レビューしたユーザー</th>
    <th>レビューされたゲームタイトル</th>
    <th>レビュー総合点</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.summary %></td>
      <td><%= link_to review.user.name, admin_user_path(review.user_id) %>さんによる</td>
      <td><%= link_to review.game.title, admin_game_path(review.game_id) %>へのレビュー</td>
      <td><%= review.direction + review.direction + review.operability + review.story + review.volume %>点/100点</td>
      <td><%= link_to "詳細", admin_review_path(review.id), class: "btn btn-primary mr-3" %></td>
      <td><%= link_to "編集", edit_admin_review_path(review.id), class: "btn btn-primary mr-3" %></td>
      <td><%= link_to '削除', admin_review_path(review.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: "btn btn-primary mr-3" %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'トップ画面', admin_root_path, class: "btn btn-primary mr-3"  %>
<%= link_to '新規レビュー投稿', new_admin_review_path, class: "btn btn-primary mr-3" %>