<h1><%= @game.title%>の詳細</h1>

<p><strong>ID: </strong><%= @game.id %></p>
<p><strong>タイトル: </strong><%= @game.title %></p>
<p><strong>制作会社: </strong><%= @game.company %></p>
<p><strong>ジャンル: </strong><%= @game.genre_i18n %></p>
<p><strong>価格: </strong><%= @game.price %>円</p> 
<p><strong>発売日: </strong><%= @game.released_at %></p>
<p><strong>あらすじ： </strong><%= @game.story %></p>
<p><strong>パッケージ: </strong><%= @game.icon.url if @game.icon && @game.icon.url%></p>
<p><%= image_tag(@game.icon.resize_for_game_icon.url) if @game.icon && @game.icon.url %></p>

<%= link_to 'ゲーム一覧', admin_games_path, class: "btn btn-primary mr-3" %>
<%= link_to '編集', edit_admin_game_path(@game.id), class: "btn btn-primary mr-3" %>
<%= link_to '削除', admin_game_path(@game.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: "btn btn-primary mr-3" %>

<% if @favorite.present? %>
  <%= link_to '気になるを解除する', admin_favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to '気になる登録', admin_favorites_path(game_id: @game.id), method: :post, class: 'btn btn-primary' %>
<% end %>

<% if @own.present? %>
  <%= link_to '持ってるを解除する', admin_own_path(id: @own.id), method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= link_to '持ってる登録', admin_owns_path(game_id: @game.id), method: :post, class: 'btn btn-primary' %>
<% end %>

<p>--------------------------------------------------------------</p>
<h4><%= @game.title%>に対する<%= @game.reviews.count %>件のレビュー</h4>
<table>
  <tr>
    <th>レビューしたユーザー</th>
    <th>一言</th>
    <th>レビュー総合点</th>
  </tr>

<% @game.reviews.each do |review| %>
  <tr>
    <td><%= review.user.name %>さんによる</td>
    <td><%= review.summary %></td>
    <td><%= review.direction + review.direction + review.operability + review.story + review.volume %>点/100点</td>
    <td><%= link_to "レビュー詳細", admin_review_path(review.id), class: 'btn btn-primary' %></td>
    <td><%= link_to "レビュー削除", admin_review_path(review.id), method: :delete, class: 'btn btn-primary',data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>

<p>--------------------------------------------------------------</p>
<h4><%= @game.title %>に対するコメント・質問</h4>
<div id="comments_area">
  <%= render partial: 'admin/comments/index', locals: { comments: @comments, game: @game, user: current_user } %>
</div>
<%= render partial: 'admin/comments/form', locals: { comment: @comment, game: @game, user: current_user } %>

<%= link_to 'ゲーム一覧へ', admin_games_path %>