<h3><%= @user.name %>さんのプロフィール</h3>

<p><strong>名前 : </strong><%= @user.name %></p>
<p><strong>フォロー : </strong><%= @user.following.count %>人 / <strong>フォロワー : </strong><%= @user.followers.count %>人</p>
<% if @user == current_user %>
  <p><strong>メールアドレス : </strong><%= @user.email %></p>
  <p><strong>管理者権限 : </strong><%= @user.admin %></p>
<% end %>
<p class="user_introduce"><strong>自己紹介文</strong><br><%= @user.introduce %></p> 
<p><strong>アイコン</strong><br><%= image_tag(@user.icon.resize_for_user_icon.url) if @user.icon && @user.icon.url %></p>

<% if @user != current_user %>
  <li>
    <div class="item">
      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post %>
    </div>
  </li>
  <li><%= render 'follow_form', user: @user %></li>
<% elsif @user == current_user %>
  <%= link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn btn-primary mr-3" %>
  <%= link_to '退会', user_path(@user.id), method: :delete, class: "btn btn-primary mr-3" ,data: { confirm: '本当にアカウント削除していいですか？（ゲストユーザーでログインの場合はご遠慮ください。）' } %>
<% end %>

<% if @user.reviews.present? %>
  <p><%= @user.name %>さんが投稿したゲームレビュー一覧</p>
  <table class="table">
    <tr>
      <th>一言</th>
      <th>レビューしたゲームタイトル</th>
      <th>総合点</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @user.reviews.each do |review| %>
      <tr class="review_row">
        <td><%= review.summary %></th>
        <td><%= link_to review.game.title, game_path(review.game_id) %>へのレビュー</td>
        <td><%= review.direction + review.direction + review.operability + review.story + review.volume %>点</td>
        <td><%= link_to "詳細", review_path(review.id), class: "btn btn-primary mr-3" %></td>
        <td><%= link_to "編集", edit_review_path(review.id), class: "btn btn-primary mr-3" if @user == current_user %></td>
        <td><%= link_to '削除', review_path(review.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-primary mr-3" if @user == current_user %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @user.favorites.present? %>
  <p><%= @user.name %>さんの気になっているゲーム一覧</p>
  <table class="table">
    <tr>
      <th>パッケージ</th>
      <th>ゲームタイトル</th>
      <th>販売会社</th>
    </tr>

    <% @user.favorites.each do |favorite| %>
      <tr class="favorite_row">
        <td><%= image_tag(favorite.game.icon.resize_for_game_icon.url) if favorite.game.icon && favorite.game.icon.url %></td>
        <td><%= link_to favorite.game.title, game_path(favorite.game_id) %></th>
        <td><%= favorite.game.company %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @user.owns.present? %>
  <p><%= @user.name %>さんの持っているゲーム一覧</p>
  <table class="table">
    <tr>
      <th>パッケージ</th>
      <th>ゲームタイトル</th>
      <th>販売会社</th>
    </tr>

    <% @user.owns.each do |own| %>
      <tr class="own_row">
        <td><%= image_tag(own.game.icon.resize_for_game_icon.url) if own.game.icon && own.game.icon.url %></td>
        <td><%= link_to own.game.title, game_path(own.game_id) %></th>
        <td><%= own.game.company %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @user.following.present? %>
  <p><%= @user.following.count %>人のフォロー</p>
    <% @user.following.each do |follow| %>
      <%= image_tag(follow.icon.resize_for_game_icon.url) if follow.icon && follow.icon.url %>
      <%= link_to follow.name, user_path(follow.id) %>
    <% end %>
<% end %>

<% if @user.followers.present? %>
  <p><%= @user.followers.count %>人のフォロワー</p>
    <% @user.followers.each do |follower| %>
      <%= image_tag(follower.icon.resize_for_game_icon.url) if follower.icon && follower.icon.url %>
      <%= link_to follower.name, user_path(follower.id) %>
    <% end %>
<% end %>  