<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary mr-3 login_button" %>
  </div>
<% end %>

<div>
  <%= link_to 'ゲストとしてログイン', users_sign_in_as_a_guest_path, method: :post, class: "btn btn-primary mr-3" %><br>
  <%= link_to 'ゲストアドミン（管理者）としてログイン', users_sign_in_as_an_admin_path, method: :post, class: "btn btn-primary mr-3" %>
</div>