<h2>レビュー一覧</h2>

<table>
  <tr>
    <th>レビューしたユーザー</th>
    <th>レビューされたゲームタイトル</th>
    <th>レビュー総合点</th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.user.name %>さんによる</td>
    <td><%= review.game.title %>へのレビュー</td>
    <td><%= review.direction + review.direction + review.operability + review.story + review.volume %>点/100点</td>
    <td><%= link_to "レビュー詳細", review_path(review.id) %></td>
    <td><%= link_to "レビュー編集", edit_review_path(review.id) %></td>
    <td><%= link_to 'レビュー削除', review_path(review.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>

<%= link_to 'トップ画面に戻る', root_path %>
<%= link_to '新規レビュー作成', new_review_path %>