<h2>レビュー一覧</h2>

<table>
  <tr>
    <th>レビュー</th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td>グラフィック・サウンド<%= review.direction %></td>
    <td>操作性<%= review.operability %></td>
    <td>ストーリー・世界観<%= review.story %></td>
    <td>ゲームボリューム<%= review.volume %></td>
    <td>ハマり度<%= review.like %></td>
    <td>コメント<%= review.body %></td>
    <td>投稿者ID：<%= review.user_id %></td>
    <td><%= link_to "レビュー詳細", review_path(review.id) %></td>
    <td><%= link_to "レビュー編集", edit_review_path(review.id) %></td>
    <td><%= link_to 'レビュー削除', review_path(review.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>

<%= link_to 'トップ画面に戻る', root_path %>
<%= link_to '新規レビュー作成', new_review_path %>