<h3><%= @review.summary %></h3>
<h4><%= @review.user.name %>さんによる<%= @review.game.title %>へのレビュー</h4>

<p><strong>グラフィック・サウンド: </strong><%= @review.direction %>点/20点</p>
<p><strong>操作性: </strong><%= @review.operability %>点/20点</p>
<p><strong>ストーリー・世界観: </strong><%= @review.story %>点/20点</p>
<p><strong>ゲームボリューム: </strong><%= @review.volume %>点/20点</p>
<p><strong>ハマり度: </strong><%= @review.like %>点/20点</p>
<p><strong>総合点: </strong><%= @review.direction + @review.direction + @review.operability + @review.story + @review.volume %>点/100点</p>
<p><strong>コメント: </strong><%= @review.body %></p>

<%= link_to 'ゲーム詳細', game_path(@review.game_id) %>
<%= link_to 'レビュー編集', edit_review_path(@review.id) if current_user == @review.user %>
<%= link_to 'レビュー削除', review_path(@review.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } if current_user == @review.user %>